.site-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.site-navigation__link {
  margin-right: 2rem;
  border-radius: 9999px;
}

.site-navigation__link a {
  padding: 1rem 0;
  text-decoration: none;
  display: block;
  color: #fff;
  font-family: 'Overlock', cursive;
  font-size: clamp(1.5rem, 1vw, 2rem);
  transition: font-size 0.5s ease 0s;
}

.site-navigation__link a:hover {
  font-size: 2rem;
}

.site-navigation--top {
  flex-direction: row-reverse;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

@keyframes go-to-top {
  50% {
    top: 10px;
    left: 10px;
    right: 10px;
  }
  to {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.site-navigation--top ul {
  justify-content: flex-end;
}

