.navigation--menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--lightGray);
  display: none;
}

.navigation--menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navigation--menu li {
  padding: 1rem 0rem;
}

.navigation--menu a {
  text-decoration: none;
  color: var(--primaryColor);
  font-family: "Josefin Sans", cursive;
  font-size: clamp(1.5rem, 1vw, 2rem);
}

.navigation--menu a:hover {
  text-shadow: 3px 3px 3px #ccc;
}

.navigation--menu__active {
  display: block;
}

@media only screen and (min-width: 768px) {
  .navigation--menu {
    all: unset;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    z-index: 999;
    background-color: var(--lightGray);
  }

  .navigation--menu ul {
    all: unset;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1rem;
  }

  .navigation--menu li {
    margin-right: 2rem;
  }

  .navigation--menu a {
    position: relative;
  }

  .navigation--menu a:hover {
    text-shadow: none;
  }

  .navigation--menu a::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--primaryColor);
    position: absolute;
    bottom: -0.75rem;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  .navigation--menu a:hover::before {
    transform: scale(1,1);
  }
}
