.navigation-button {
  position: fixed;
  top: 2rem;
  right: 2rem;
  border-radius: 50%;
  padding: 9px 10px;
  border: none;
  background-color: var(--darkGray);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.navigation-button--close-icon {
  mask: url(./close-button.svg);
  mask-size: cover;
  mask-repeat: no-repeat;
  transform: scale(0.8, 0.8);
  width: 1.3em;
  height: 1.3em;
  background-color: var(--primaryColor);
}

.navigation-button--open-icon > div {
  width: 1.3em;
  height: 2px;
  margin: 4px 0;
  background-color: var(--primaryColor);
}

.navigation-button--close {
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .navigation-button {
    display: none;
  }
}
