.site-section {
  padding: 2rem;
  min-height: 100vh;
}

.site-section h2 {
  font-size: clamp(2.5rem, 3vw, 4rem);
  padding-top: 1rem;
  color: var(--primaryColor);
}

.site-section p {
  font-size: clamp(1.4rem, 1.4vw, 2rem);
  line-height: 140%;
}
