.site-section {
  padding: 2rem;
  height: 100vh;
}

.site-section h2 {
  font-size: clamp(2.5rem, 3vw, 4rem);
  padding-top: 2em;
  color: var(--princeton-orange);
}

.site-section p {
  font-size: clamp(1.2rem, 1vw, 2rem);
  line-height: 140%;
}
