@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Overlock:wght@700;900&display=swap");

:root {
  /* COLORS */
  --skyblue: #0eaeff;
  --lightGray: #f0f0f0;
  --primaryColor: #437ae6;
  --lightPrimary: #9ab7f2;
  --darkPrimary: #3560b8;
  --secondaryColor: #364f6b;
  --gray: #f3f3f3;
  --darkGray: #dfdfdf;
  --darkerGray: #a1a1a1;
  --links: #08918c;
  /* SIZES */
  --mobile: 575px;
  --desktop: 991px;
}

html {
  box-sizing: border-box;
  font-size: 20px;
  scroll-behavior: smooth;
  color: var(--secondaryColor);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--lightGray);
  font-family: "Overlock";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", cursive;
}

a {
  text-decoration: none;
  color: var(--links);
  font-weight: 900;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
