:root {
  /* COLORS */
  --skyblue: #0eaeff;
  --darkblue: #050a30;
  --maximum-green: #4d8b31;
  --princeton-orange: #ff8427;
  --gray: #f3f3f3;

  /* SIZES */
  --mobile: 575px;
  --desktop: 991px;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
  color: white;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--darkblue);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Overlock", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
